body
{
	background: -webkit-linear-gradient(top, #ababab, #ffffff) no-repeat 0 0;
	display: block;
}

.title
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight:bold;
	font-variant: normal;
	color: Black;
	margin-left: 20px;
	margin-top: 20px;
}

.subtitle
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight:normal;
	text-align: left;
	margin-top: 0px;
	margin-left: 10px;
}

.view
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight:normal;
	text-align: left;
	margin-top: 0px;
	margin-left: 20px;
}

.heading
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	margin-top: 30px;
	margin-left: 40px;
}

.detail
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight:normal;
	text-align: left;
	margin-top: 0px;
	color: #0000ff;
	text-decoration: underline;
	margin-left: 20px;
}

.boldtext
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: nomal;
	text-align: left;
	font-style: bold;
	margin-left: 60px;
	width: 80%;
}

.boldtext a
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight:normal;
	text-align: left;
	margin-left: 25px;
	width: 80%;
}

.text
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-style: nomal;
	font-weight:normal;
	text-align: left;
	margin-left: 60px;
	width: 80%;
}

.card
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 88%;
    border:1px solid Black;
}

.icon
{
	display: inline;
	vertical-align: bottom;
	border-radius: 20px;
	margin-left: 15px;
	-webkit-border-radius: 20px;
}

.itunesbtn
{
	width: 180px;
	height: 40px;
	background: #298cda;
	font-size: 15px;
	color: #ffffff;
	font-style: bold;
	font-weight:normal;
	text-align: center;

	margin-left: 20px;
	margin-top: 10px;

	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.apkbtn
{
	width: 180px;
	height: 40px;
	background: #e68700;
	font-size: 15px;
	color: #ffffff;
	font-style: bold;
	font-weight:normal;
	text-align: center;

	margin-left: 20px;
	margin-top: 10px;

	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.icontitle
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: Black;
	margin-left: 15px;
}

.resumetoptitle
{
	text-align:center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight:bold;
	font-variant: normal;
	color: Black;
	margin-top: 30px;
	margin-bottom: 30px;
}

.resumecard
{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
	padding-bottom: 10px;
  margin-left: 5%;
  width: 88%;
  border:1px solid Black;
  position: relative;
  //background: #00ff00;
}

.resumeline
{
	padding-top: 10px;
	padding-bottom: 10px;
  height: 20px;
  position: relative;
  //background: #ff0000;
}

.resumetitle
{
	position:absolute;
	left: 40px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

.resumedetail
{
	position:absolute;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: nomal;
	text-align: left;
	left: 300px;
}

footer
{
	text-align:center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	margin-top: 150px;
	margin-bottom: 100px;	
}